body {
    background-color: burlywood;
    margin-left: 50px;


}

.containerA {
    background-color: blanchedalmond;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 15%;

    /* display: flex;
    flex-wrap: row-wrap; */

}

.containerB {
    background-color: blanchedalmond;
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
    width: 150px;
    height: 300px;
    border-radius: 15%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    

}
.containerC {
    background-color: blanchedalmond;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 15%;

    /* display: flex;
    flex-wrap: row-wrap; */

}
.containerD {
    background-color: blanchedalmond;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 15%;

    /* display: flex;
    flex-wrap: row-wrap; */

}
span{
    font-style: italic;
    color : blue
}


.defaultLayout {
    display: flex;
    flex-wrap: row-wrap;
    margin-left: 0px;
}

nav {
    border: 2px solid black;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    color: white;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 20px;
    width: 300px;


    /* position: sticky; */
    /* top:0px; */
}

nav>ul {
    list-style: none;
}

.containerA>ul {
    list-style: none;
}